.nav-bar{
  display: flex;
  width:100%;
  height:15%;
  max-height:40px;
  background-color: #696969;
  align-items: center;
  position: fixed;
  grid-area: navbar;
  top:0;
  left:0;
}
.nav-links{
  display: flex;
  color: #c9c9c9;
  font-size: 110%;
  font-weight: bold;
  padding: 2vw;
 
}
.nav-buttons{
  display: flex;
  color: #696969
}
body{
  display: grid;
  
  background-color: #a9a9a9;
  grid-template-areas:
    'welcome1 '
    'project1 '
    'contact1 ';
    
}
.welcome-section{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;
  grid-area: welcome1;
}
.project-header{
  color: brown;
  justify-self: center;
  grid-column: 1/4;
  align-self: center;
}
.project1{
  background-color: orange;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20vh 40vh 40vh;
  grid-gap: 10px;

 
p{
  font-size: 180%;
  padding-right: 22vw;
  padding-left: 22vw;
}
h1{
  font-size: 300%;
}
.contact1{
  display: grid;
  grid-area: contact1;
  align-self: center;
}
